
//Cores do Projeto

$corDeFundo: #f5f6fa;
$corPrincipalAzul:  #182C61;
$corSecundariaVerde: #44bd32;

// Mediadas da resolução de dispositivos

$medidaMobile: 767px;
$medidaTablet: 1023px;
